black==19.10b0
isort==5.4.0
numpy==1.19.0
omegaconf==2.0.1rc11
pytest==6.2.1
pytest-cov==2.10.1
pytest_xdist==2.2.0
pytorch-lightning==1.0.4
torch==1.7.1
torchaudio==0.7.2
torchsummary==1.5.1
torchvision==0.8.2
type-docopt==0.1.0
wandb==0.10.8
